body{
    background-image: url("../img/fondoPrueba.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* .fondo{
    background-color: #f04f23c5;
} */

.fondo2{
    background-color: #010731;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardStyles{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.lista{
    list-style: none;
}

.reImagen{
    width: 30px;
    height: 30px;
}

.scrollCajas{
    width: 100%;
    height: 640px;
    overflow: auto;
}

.scroll::-webkit-scrollbar{
    width: 8px;
}

.scrollPer::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
}

.preciosButoom{
    width: 200px;
}

.logo{
    width: 100px;
    height: 100px;
}

.icono{
    width: 40px;
    height: 40px;
}

.flecha{
    width: 48px;
    height: 48px;
}

.carouselImagen{
    border-radius: 5px;
}

.sombrasButoom{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}